.chakra-button {
  color: white;
  background: white;
}
.chakra-button:hover {
  color: white;
  background: white;
}
.chakra-button:focus {
  color: white;
  background: white;
  box-shadow: white;
}
.chakra-button:active {
  color: white;
  background: white;
  box-shadow: white;
}
.chakra-text {
  font-family: 'Source Sans Pro';
}

.chakra-heading {
  font-family: 'Source Sans Pro';
}
